@font-face {
  font-family:helvetica;
  src: url(helvetica-rounded-bold-5871d05ead8de.otf)
      
}

body{
    font-family:helvetica;
    background-image: linear-gradient(to right, #2E3192,#1BFFFF );
}


h1{
    text-align: center;
}

#info{
    text-align: center;


}
#wrapper{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    flex:1;
}

#main2{
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    font-size: 12px;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
}

input[type=text],input[type=number]{
        width:80%;
        padding: 15px 22px;
        margin: 15px 5px;
        box-sizing: border-box;
    border-radius: 10px;
    outline-offset: inherit;
    border:none;
        border-bottom: 4px solid #8842d5;
    transition: all 0.5s ease-in-out;
    font-family: helvetica;
    
}

button{
background: inherit;
    padding: 15px 18px;
    border-radius: 10px;
    border:1px solid white;
    outline: none;
     transition: all 0.5s ease-in-out;
    font-family:helvetica;
}

button:focus{
    background-color: lavender;
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    font-size: 12px;
    margin-top: 25%;
}
